
/* BREAKPOINT-1000px */
@media(max-width: 1000px){
    .cabecalho{
        flex-direction: column;
    }

    .cabecalho nav{
        margin-right: 0;
    }

    .conteudo{
        margin-top: 5rem;
        margin-bottom: 15rem;
    }
    .card{
        margin: 15px;
    }

    .img-figure{
        width: 200%;
        
    }

    .text-tit{
        font-size: 0.5rem;
    }
}
/* BREAKPOINT-600PX */
@media(max-width: 600px){
    .cabecalho nav{
        flex-wrap: wrap;
    }
    .conteudo{
        width: 50%;
        align-self: center;
    }
    .card{
        margin: 15px;
    }

    .img-figure{
        width: 40%;
    }

}